{% extends "base.html" %}
<html>
<head>

</head>
<body>
    {% block content %}
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    {% endblock %}

</body>
