{% extends "base.html" %}
{% load jsonify %}
<html>
<head>

</head>
<body>
    {% block content %}
      <div id="app">
        <div class="card-columns">
        <div v-for="(book,index) in books" 
            class="card text-center border-dark text-white bg-dark mb-3"
            @click="show(index)">
                <div class='card-header'> [[ book.title ]] </div>
                <div class="card-body">
                    <p class='card-title'> [[ book.author.join(' ') ]] </p>
                    <p class='card-title'> [[ book.category.join(' ') ]] </p>

                    <div v-if="book.description">
                        <p v-if="book.description.length > 200 ">[[ book.description.substring(0,200)+ " ..." ]]</p>
                        <p v-else>[[ book.description ]]</p>
                    </div>
                    <div v-else>
                        <p>NO DESCRIPTION</p>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="showModal">
            <transition name="modal">
                <div class="modal-mask">
                <div class="modal-wrapper">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">[[ modalTitle ]]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" @click="showModal = false">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            [[ modalText ]]
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="showModal = false">Close</button>
                            <a type='button' class='btn btn-danger' :href="deleteUrl">Delete</a>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </transition>
        </div>
      </div>
      
      <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                books: {{ object_list|safe }},
                showModal: false,
                modalText: '',
                modalTitle: '',
                selectedBook: '',
            },
            methods: {
                show: function(index){
                    this.showModal = true;
                    this.modalText = this.books[index].description;
                    this.modalTitle = this.books[index].title;
                    this.selectedBook = this.books[index].pk;
                }
            },
            computed: {
                deleteUrl: function() {
                    return '/books/delete-book/' + this.selectedBook
                }
            }
        })
      </script>
    {% endblock %}

</body>

</html>