{% extends "base.html" %}
<html>
<head>

</head>
<body>
    {% block content %}
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" value="Confirm">
        </form>
    {% endblock %}
</body>
