{% extends "base.html" %}
{% load jsonify %}
<html>
<head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>

</head>
<body>
    {% block content %}
        <div id='app'>
            <p>Filters that you can use to download books to our library</p>
            <input type='text' v-model="title" placeholder="Search books" class='form-control'>
            <input type='text' v-model="keyword" placeholder="Keyword" class='form-control'>
            <div class='radio'>
            <label> <input type='radio' value='intitle:' name='optradio'>Returns results where the text following this keyword is found in the title.</label>
            <div class='radio'>
            <label> <input type='radio' value='inauthor:' name='optradio'>Returns results where the text following this keyword is found in the author. </label>
            </div>
            <div class='radio'>
            <label> <input type='radio' value='inpublisher:' name='optradio'> Returns results where the text following this keyword is found in the publisher.</label>
            </div>
            <div class='radio'>
            <label> <input type='radio' value='subject:' name='optradio'>Returns results where the text following this keyword is listed in the categories list of the volume. </label>
            </div>
            <div class='radio'>
            <label> <input type='radio' value='isbn:' name='optradio'>Returns results where the text following this keyword is the ISBN number. </label>
            </div>
            <div class='radio'>
            <label> <input type='radio' value='lccn:' name='optradio'>Returns results where the text following this keyword is the Library of Congress Control Number. </label>
            </div>
            <div class='radio'>
            <label> <input type='radio' value='oclc:' name='optradio'> Returns results where the text following this keyword is the Online Computer Library Center number.</label>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <button class="btn btn-primary" @click="sendGet">Search for books</button>                    
                </div>
            </div>

            <form method="post">{% csrf_token %}
                <button class='btn btn-success' type='submit'>Add selected books to library</button> 

            <div v-if="sentRequest">
                <div class="card-columns">
                    <div v-for="(book,index) in books" class="card text-center border-dark text-white bg-dark mb-3">
                        <div class='card-header'>
                            <div class="row">
                                <div class="col-md-10">
                                    [[ book.title ]]
                                </div>
                                <div class='col-md-2'>
                                    <input class="form-check-input"
                                           :name="index"
                                            type="checkbox" 
                                           :id="index"
                                           :value="JSON.stringify(book)">
                                </div>
                            </div>
                        </div>
                        <div class="card-body" @click="show(index)">
                            <p class='card-title'>Author: [[ book.author.join(' ') ]] </p>
                            <p class='card-title'>Categories: [[ book.categories.join(' ') ]] </p>
        
                            <div v-if="book.description">
                                <p v-if="book.description.length > 200 ">[[ book.description.substring(0,200)+ " ..." ]]</p>
                                <p v-else>[[ book.description ]]</p>
                            </div>
                            <div v-else>
                                <p>NO DESCRIPTION</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

        <div v-if="showModal">
            <transition name="modal">
                <div class="modal-mask">
                <div class="modal-wrapper">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">[[ modalTitle ]]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" @click="showModal = false">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            [[ modalText ]]
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="showModal = false">Close</button>
                            <a type='button' class='btn btn-primary' >Delete</a>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </transition>
        </div>

        <script>
            var app = new Vue({
                delimiters: ['[[', ']]'],
                el: '#app',
                data: {
                    sentRequest: false,
                    books: [],
                    title: '',
                    keyword: '',
                    showModal: false,
                    modalText: '',
                    modalTitle: '',
                    selectedBook: '',
                },
                methods: {
                    submitForm: function(e){
                        
                    },
                    show: function(index){
                        this.showModal = true;
                        this.modalText = this.books[index].description;
                        this.modalTitle = this.books[index].title;
                        this.selectedBook = this.books[index].pk;
                    },
                    sendGet: function(){
                        let tempBooks = [];
                        if(this.keyword){
                            
                            axios.get('https://www.googleapis.com/books/v1/volumes?q=' + this.title + '+' + this.keyword).then(function(data){
                                data['data']['items'].forEach(function (item, index){
                                    let authors = [];
                                    if (item['volumeInfo']['authors']){
                                        authors = item['volumeInfo']['authors']
                                    }
                                    let categories = [];
                                    if (item['volumeInfo']['categories']){
                                        categories = item['volumeInfo']['categories']
                                    }
                                    console.log(item['volumeInfo'])
                                    tempBooks.push(
                                        {
                                            'title': item['volumeInfo']['title'],
                                            'author': authors,
                                            'description': item['volumeInfo']['description'],
                                            'categories': categories
                                        });
                                });
                            });
                        }else{
                            axios.get('https://www.googleapis.com/books/v1/volumes?q=' + this.title).then(function(data){
                                data['data']['items'].forEach(function (item, index){
                                    let authors = [];
                                    if (item['volumeInfo']['authors']){
                                        authors = item['volumeInfo']['authors']
                                    }
                                    let categories = [];
                                    if (item['volumeInfo']['categories']){
                                        categories = item['volumeInfo']['categories']
                                    }
                                    let description = "";
                                    if (item['volumeInfo']['description']){
                                        description = item['volumeInfo']['description']
                                    }
                                    console.log(item['volumeInfo'])
                                    tempBooks.push(
                                        {
                                            'title': item['volumeInfo']['title'],
                                            'author': authors,
                                            'description': description,
                                            'categories': categories
                                        });
                                });
                            });
                        }
                        this.books = tempBooks
                        this.sentRequest = true;
                    }
                },
                computed: {

                }
            })
        </script>
    {% endblock %}

</body>
