{% extends "base.html" %}
<html>
<head>

</head>
<body>
    {% block content %}
      <div id="app">
        [[ message ]]
      </div>
      <script>
        var app = new Vue({
          delimiters: ['[[', ']]'],
          el: '#app',
          data: {
            message: 'Hello Vue!'
          }
        })
      </script>
    {% endblock %}

</body>

</html>